/* ****************************************************************************

GamePage.js 

**************************************************************************** */

.app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-title {
  color: white;
}

.gamemode-title {
  color: white;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name {
  height: 30px;
  line-height: 30px;
  color: white;
}

.room {
  color: white;
}

.player-board {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-board .line {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.player-board .element {
  position: relative;
  width: 100%;
  border: 1px solid black;
}

.player-board .element:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.other-board {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.other-division {
  width: 40%;
  padding: 5px;
}

.other-board .line {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.other-board .element {
  position: relative;
  width: 100%;
  border: 1px solid black;
}

.other-board .element:before {
  content: '';
  display: block;
  padding-top: 100%;
}
